html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background: url(../image/wallpaper-desert.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#pwd {
  background-color: rgba(0, 0, 0, 0.1);
  width: 800px;
  height: 800px;
}

.window {
  overflow: hidden;
  z-index: 1;
  position: absolute;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.16);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.16);
}

.window-bar {
  padding: 14px;
  color: #1a1a1a;
  background-color: rgb(191, 191, 191);
  cursor: default;
  white-space: nowrap;
}

.window-bar-title {
  margin-right: 40px;
  float: left;
  color: rgba(0, 0, 0, 0.55);
}

.window-bar-controls {
  float: right;
}

.close-window {
  color: #C75858;
}

.close-window:hover {
  color: #c64242;
}

.window-content {
  overflow: hidden;
  height: 100%;
  background-color: #FFF;
}

.window-resizer-x {
  cursor: ew-resize;
  position: absolute;
  right: 0;
  top: 0;
  width: 5px;
  height: 100%;
}

.window-resizer-y {
  cursor: ns-resize;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
}

.window-resizer-xy {
  cursor: nwse-resize;
  float: right;
  width: 5px;
  height: 5px;
}

.dragging {
  -webkit-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.39);
  -moz-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.39);
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.39);
}

.clear {
  clear: both;
}
